/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Navbar estilos */
#navbar {
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  

}

#navbar h1 {
  float: left;
  margin: 10px;
  margin-top: 20px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar ul li {
  display: inline-block;
  margin: 20px;
  margin-top: 25px;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
}

/*main {
  padding-top: 80px; 
}*/
.movie-image {
  width: 100%;
  height: auto;
  
}

.intro {
  text-align: center;
  margin-top: 50px;
}

.intro h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2em;
}

.logo{
  width: 70px;
  margin-top: 2px;
  float: left;
}





.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-top: 11px;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color:lightskyblue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.heading{
  margin-left: 0.5%;
  justify-content: space-between;
  background: var(#515151);
  padding: 8px 0.5px;
  margin-bottom: 2rem;
}

.heading-title{
  font-size: 1.2rem;
  font-weight: 500;
}


/*Filmes de ação grid*/

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    width: 100%;
    height: auto;
  }
  
  #loadMoreBtn {
    margin-top: 20px;
  }